<div class="col-lg-3">
    <div id="accName" class="mb-5">
        <div class="text-capitalize" id="username">
            Admin Paneli
        </div>
        <div class="logout"><a href="/account/uyelik-bilgilerim">Hesabım</a></div>
    </div>
    <ul id="accNav" class="nav nav-pills flex-lg-column flex-row flex-nowrap">
        <li class="nav-item">
            <a href="/admin/urun-ekle" class="nav-link">Ürün Ekle</a>
        </li>
        <li class="nav-item">
            <a href="/admin/urun-duzenle" class="nav-link">Ürün Düzenle</a>
        </li>
        
    </ul>
</div>