<section class="pt-3 slider">
    <div class="container">
        <main class="card">
            <div class="row p-lg-2 p-1 justify-content-center">

                <div class="col-lg-10">
                    <div id="slider" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#slider" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#slider" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#slider" data-bs-slide-to="2"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/"> <img src="img/slider-1.jpeg" alt="" class="d-block w-100"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="/"> <img src="img/slider-2.jpeg" alt="" class="d-block w-100"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="/"> <img src="img/slider-3.jpeg" alt="" class="d-block w-100"></a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#slider"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#slider"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>

<section class="pt-3">
    <div class="container">
        <header>
            <h3 class="mb-md-3 mb-0">Son Eklenenler</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-success"> İndirim </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-danger"> Fırsat Ürün </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-danger"> Fırsat Ürün </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-success"> İndirim </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-danger"> Fırsat Ürün </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-danger"> Fırsat Ürün </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <figure class="card shadow">
                        <a href="/product/1" class="img-wrap">
                            <b class="badge bg-danger"> Fırsat Ürün </b>
                            <img src="img/4.jpeg" alt="">
                        </a>
                        <figcaption class="info-wrap border-top">
                            <a href="#" class="float-end btn btn-outline-primary btn-icon">
                                <i class="fa fa-heart"></i>
                            </a>
                            <a href="/product/1" class="title text-truncate">
                                Apple iPhone 13 128GB Pembe Akıllı Telefon
                            </a>
                            <div class="price-wrap">
                                <span class="price">18.499 TL</span>
                                <del class="price-old">18.999 TL</del>
                            </div>
                        </figcaption>
                    </figure>
                </div>
        </div>
    </div>
</section>