
<div class="container my-5">
    <div class="row gy-2">
        <div class="col-12 col-md-8 col-lg-9">
            <div id="product-detail">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="big-image img-wrap">
                            <img src="/img/4.jpeg" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="container mb-3">
                            <div class="product-code mb-4 ">Ürün Kodu: 82K100CSTX</div>
                            <h3><b>Apple</b> iPhone 13 128GB Pembe Akıllı Telefon</h3>

                            <div class="amount mt-5">
                                <strong>18.999 ₺</strong>
                            </div>
                            <a href="">Taksit Seçenekleri</a>
                            <hr>
                            <table class="table table-borderless" id="urunDetay">
                                <tbody>
                                    <tr>
                                        <td>Dahili Hafıza</td>
                                        <td>128</td>
                                    </tr>
                                    <tr>
                                        <td>Ön Kamera Çözünürlüğü</td>
                                        <td>12 MP</td>
                                    </tr>
                                    <tr>
                                        <td>Ekran Boyutu</td>
                                        <td>6.1</td>
                                    </tr>
                                    <tr>
                                        <td>İşlemci</td>
                                        <td>A15</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="#productDetails" class="btn p-1 go-section">Tüm Özellikler</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-3 ">
            <div class="product-info">
                <div class="amount my-3 text-center">
                    <strong>18.999 ₺</strong>
                </div>
                <div class="d-grid  mx-2 mb-3">
                    <button type="submit" class="btn btn-primary btn-sepet" type="button">Sepete Ekle</button>
                </div>

                <div class="d-grid  mx-2 mb-3">
                    <button type="submit" class="btn btn-outline-primary btn-login" type="button">Listeye Ekle</button>
                </div>
                <hr>
                <small class="info-link">
                    <strong>Kargo Süreçleri</strong> hakkında detaylı bilgi için
                    <a href="">tıklayınız</a>
                </small>
                <small class="info-link">
                    <strong>Garanti Süreçleri</strong> hakkında detaylı bilgi için
                    <a href="">tıklayınız</a>
                </small>
            </div>
        </div>
    </div>

    <div class="section-desc">
        <div class="description">
            <h3 class="p-5">Ürün Açıklaması</h3>
            <p class="p-5 pt-0"><strong>iPhone 13 Süper bir güç.</strong> Bugüne kadar geliştirdiğimiz en iyi çift
                kamera sistemi. Loş ışıkta %47’ye kadar daha iyi performans sunuyor. Sinematik mod sığ alan derinliğini
                otomatik olarak ekliyor. Dilerseniz odağı çekim yaptıktan sonra da kaydırabiliyorsunuz. 19 saate kadar
                video oynatma. Pil ömründe büyük bir gelişme. Yeni A15 Bionic çip her zamankinden daha fazla güç
                sağlıyor. Ceramic Shield tüm akıllı telefon camlarından daha sağlam. Suya, sıçramalara ve toza karşı da
                dayanıklı. Süper renkli Super Retina XDR ekran şimdi %28 daha parlak.</p>
        </div>
    </div>
    <div id="productDetails" class="section-desc mb-3">
        <div class="details">
            <h3 class="p-5">Teknik Özellikler</h3>
            <div class="table-details px-5 pb-5">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>4G Standartları</td>
                            <td>3G Standartları</td>
                        </tr>
                        <tr>
                            <th>LTE</th>
                            <th>DC-HSDPA, HSPA+, UMTS</th>
                        </tr>
                        <tr>
                            <td>Dahili Hafıza</td>
                            <td>Dijital Zoom</td>


                        </tr>
                        <tr>
                            <th>128 GB</th>
                            <th>5</th>

                        </tr>
                        <tr>
                            <td>Telefon Ekran Çözünürlüğü</td>
                            <td>İkinci Arka Kamera Çözünürlüğü</td>


                        </tr>
                        <tr>
                            <th>2532 x 1170</th>
                            <th>12</th>
                        </tr>
                        <td>İşlemci</td>
                        <td>İşlemci Çekirdek Sayısı</td>
                        <tr>

                        </tr>
                        <th>A15</th>
                        <th>6</th>
                        <tr>

                        </tr>
                        <td>Yüz Tanıma</td>
                        <td>Dijital Zoom</td>
                        <tr>

                        </tr>
                        <th>Evet</th>
                        <th>5</th>
                        <tr>

                        </tr>
                        <tr>

                        </tr>
                        <tr>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>